<div style="min-height:280px;">
    <div>
      <input type="text" [ngModel]="data.title" (ngModelChange)="titleChanged($event)" [disabled]="isShowHTML" style="width:100%; padding:4px; font-weight:500; font-size:1.2em;">
    </div>
    <div [hidden]="!isShowHTML">
      <common-mark-entry #commonMarkEntry></common-mark-entry>
    </div>
    <div [hidden]="isShowHTML">
      <common-text-entry #commonTextEntry></common-text-entry>
    </div>
</div>
<p>
  <button [disabled]="isShowHTML || !data.isDirty" (click)="saveNote()">Save</button>
</p>

<button (click)="flipMarkdownHTMLView($event)">Swap</button>
