<span>
  {{title}}
</span>
    <div>
      <textarea #noteTextArea placeholder="(Note)" style="border:1px solid silver; min-height:200px; width:100%;"></textarea>
    </div>

<button (click)="saveAttachment()">Save</button>
